
    page-home {
        h1{
            color: maroon;
        }
        #boxes{
            text-align: center;
        }
        
        
        #coco{
         margin-left: 40%;   
        }
        #order{
            margin-left: 45%;
        }
        }
    
